/editor
/CheckDuplicateImage.class
/SIGroup.class
/SIManager.class
/SIPainter.class
/SIPainterGroup.class
/SIPanel.class
/SISelecter.class
/SISprite.class
/SingleImage.class
/Copyable.class
/DefaultTheme.class
/Dir.class
/DoublePair.class
/FileExtFilter.class
/Grid.class
/IntPair.class
/Pair.class
/Relation.class
/SL.class
/Saveable.class
/XImage.class
/XUtil.class
/add
/editoradd
